<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="home.css" />
    <title>IPFS</title>
  </head>
  <body>
    <header>
        <a href="home">
            <img src="Logo_mango.png" class="mango-logo" />
        </a>


    </header>
        <main>
                <h1>Contract</h1>
                <br /><br />
                <form action="/upload_contract" method="POST" enctype="multipart/form-data">
                    
                    <label>Transaction IDs:</label>
                    <input type="text" name="transactionIDs" />
                    <br /><br />
                    <label>Choose a file</label>
                    <input type="file" name="file" />
                    <br /><br />
                    <label>Producer Share:</label>
                    <input type="text" name="prodShare" />
                    <br /><br />
                    <label>Payment Method:</label>
                    <input type="text" name="paymentMethod" value="variousPayment" />
                    <br /><br />

                    <input type="submit" value="Submit" />
                </form>

        </main>
    <footer class="mango-footer">
      <p>Copyright © 2019 SmartMango</p >
      <p>Contact</p >
    </footer>
  </body>
</html>